

{{#if user}}
<section>

<h2 id="h2-home-activities">Check Out What's Going On</h2>


{{#each activityDb}}

<div id="activities-container">
    {{#if this.image}}
    <a href="/description/{{this._id}}"><img id="img-actvities" src="{{this.image}}"></a>
    {{/if}}
    <div id="activities-description-container">
        <h3 id="h3-title-activities"><a id="title-activities" href="/description/{{this._id}}">Activity: {{this.activity}}</a></h3>
        <p>Find: {{this.find}}</p>

        <div id="activities-date-container">
            <p>From: {{finale}}</p>
            <p id="activities-date-to">To: {{finale2}}</p>
        </div>
    </div>
</div>

{{/each}}

</section>
{{/if}}




{{#unless user}}
<section class="homepage">
    <div id="homepage-container">

        <a id="logo-container" href="/"><img id="logo-homepage" src="/images/travel-souls-logo-vertical.png" alt="logo img"></a>

        <h2 id="h2-homepage">Welcome TravelSouls</h2>

        <a class="homepage-btn" id="homepage-login" href="/auth/login">Login</a>
        <a class="homepage-btn" id="homepage-signup" href="/auth/signup">Signup</a>

    </div>
</section>

{{/unless}}








