
<section id="profile-container">
    <div>
        <img class="img-profile" src="{{user.image}}">
    </div>

    <div id="profile-info-container">
        <h3 class="profile-info" id="h3-profile-info">{{userProfile.username}}</h3>
        
        {{#if isItTheSame}} 
            <a class="profile-info" href="mailto:{{userProfile.email}}">Contact Me</a>
        {{/if}}

        {{#if isTheSame}}    
            <a href="/user-profile/edit"><p>Edit profile</p></a>
        {{/if}}
    </div>
</section>


<section id="profile-description-activities">

    <h4 class="h4-title-description">About Me</h4>
    <p class="p-description">{{userProfile.description}}</p>

    <h4 class="h4-title-description">Activities</h4>

    {{#each userProfile.activityIds}}
        <div id="profile-activity-container">

            {{#if this.image}}
                <img id="img-actvities" src="{{this.image}}">
            {{/if}}

            <div id="activities-description-container">
                <h3 id="h3-title-profile-activities">{{this.activity}}</h3>
                <p>{{this.description}}</p>
                <p>{{this.find}}</p>

                <div id="activities-date-container">
                    <p>{{finale}}</p>
                    <p id="activities-date-to"> {{finale2}}</p>
                </div>
                <a href="/edit/{{this._id}}">Edit activity</a>
                <form action="/description/{{this._id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </div>

        </div>

    {{/each}}

</section>


