<section>

            {{#if act.image}}
            <img id="img-actvities" src="{{act.image}}">
            {{/if}}


<h3>{{act.activity}}</h3>
<p>Go with: {{act.author.username}}</p>
<p>About: {{act.description}}</p>
<p>Looking to go with:{{act.find}}</p>
<p>From: {{act.from}}</p>
<p>To: {{act.to}}</p>
<a href="mailto:{{act.author.email}} ">Contact Me</a>

</section>



