
<section>
  <div class="">
    {{#if act.image}}
      <img id="img-activity-description" src="{{act.image}}">
    {{/if}}
  </div>

  <h3>{{act.activity}}</h3>

  <div>
    <p>Go with: <a href="/user-profile/{{act.author._id}}">{{act.author.username}}</a></p>
    <p>About: </p>
    <p>{{act.description}}</p>
    <p>Looking to go with:{{act.find}}</p>
  </div>
  <div class="from-to-dates">
    <i class="fas fa-calendar"></i>
    <p class="date">From: {{finale}}</p>
    <p class="date">To: {{finale2}}</p>
  </div>

    <a href="mailto:{{act.author.email}} ">Contact Me</a>





<p>{{act.locations}}</p>
<div class="map" id="map"></div>

{{!-- Create hidden elements to store the display style of the map--}}
<div class="hidden map-center"> {{mapCenter}}  </div>
<div class="hidden map-zoom">  {{mapZoom}}  </div>

{{!-- Create the markers and the popups for every location Paso 6--}}
  
  <div class="hidden pos">  {{location.pos}}  </div>
  <div class="marker">  </div>


</section>

