

<a href="/user-profile/{{act.author._id}}"><p>{{act.author.username}}</p></a>
<p>{{act.activity}}</p>
<p>{{act.description}}</p>
<p>{{act.find}}</p>
<p>{{finale}}</p>
<p>{{finale2}}</p>
<p>{{act.locations}}</p>
<div class="map" id="map"></div>

{{!-- Create hidden elements to store the display style of the map--}}
<div class="hidden map-center"> {{mapCenter}}  </div>
<div class="hidden map-zoom">  {{mapZoom}}  </div>

{{!-- Create the markers and the popups for every location Paso 6--}}
  
  <div class="hidden pos">  {{location.pos}}  </div>
  <div class="marker">  </div>





<section>

<h3>{{act.activity}}</h3>
<p>Go with: {{act.author.username}}</p>
<p>About: {{act.description}}</p>
<p>Looking to go with:{{act.find}}</p>
<p>From: {{act.from}}</p>
<p>To: {{act.to}}</p>

<a href="mailto:{{act.author.email}} ">Contact Me</a>

</section>



