<div class="container">

  <form class="forms-container" action="/edit/{{actiDb._id}}" method="post">

  <h2 class="title-h2-white">Edit the activity:</h2>
  <p id="title-activity-edit">{{actiDb.description}}</p>

  <div class="input">
      <input class="textbox" type="text" name="activity" value="{{actiDb.activity}}" placeholder="Activity"/>
  </div>

  <div class="input" id="input-description-edit">
    <label> Description: </label>
      <textarea class="input-textarea" name="description" placeholder="Description">{{actiDb.description}}</textarea>
  </div>

  <div class="input" id="input-checkbox">
     <label> Activity for:</label>
     <br>
        <input type="checkbox" name="find" value="couple"  /> Couple
        <input type="checkbox" name="find" value="group of friends"  /> Group of friends
        <input type="checkbox" name="find" value="date"  /> Date
        <input type="checkbox" name="find" value="family"  /> Family
  </div>

  <div class="input">
      <i class="fas fa-calendar"></i>
      <input type="datetime-local" name="from" placeholder="Start" value="{{actiDb.from}}" />
  </div>

  <div class="input">
      <i class="fas fa-calendar"></i>
      <input type="datetime-local" name="to" placeholder="End" value="{{actiDb.to}}" />
  </div>

  <div class="input" id="input-locations-edit">
    <label for="locations"> Where
      <select name="locations" id="locations">
      <option label="Ciutat Vella" value="Ciutat Vella">Ciutat Vella    </option>
      <option label="Nou Barris"  value="Nou Barris">Nou Barris   </option>
      <option label="Horta-Guinardo"  value="Horta-Guinardo">Horta-Guinardo   </option>
      <option label="Sarria-Sant Gervasi"  value="Sarria-Sant Gervasi">Sarria-Sant Gervasi    </option>
      <option label="Les Corts"  value="Les Corts">Les Corts    </option>
      <option label="Gracia"  value="Gracia">Gracia   </option>
      <option label="Sants"  value="Sants">Sants    </option>
      <option label="Eixample"  value="Eixample">Eixample   </option>
      <option label="Sant Marti"  value="Sant Marti">La Nueva Izquierda del Ensanche    </option>
      <option label="Sant Andreu"  value="Sant Andreu">San Antonio</option>
      </select>
    </label>
  </div>

  <div class="">
    <button class="input-btn-white">Save changes</button>
  </div>
  
  </form>

</div>













 
