<h2>Edit the activity: {{actiDb.description}}</h2>
 
<form action="/edit/{{actiDb._id}}" method="post">
  <label> Activity:
    <input type="text" name="activity" value="{{actiDb.activity}}" />
  </label>
 

  <label> Description:
    <textarea name="description" cols="30" rows="4" >{{actiDb.description}}</textarea>
  </label>
 
     <label> Activity for:
      <input type="checkbox" name="find" value="couple"  /> Couple
      <input type="checkbox" name="find" value="group of friends"  /> Group of friends
      <input type="checkbox" name="find" value="date"  /> Date
      <input type="checkbox" name="find" value="family"  /> Family
    </label>

    <label> From
      <input type="datetime-local" name="from" placeholder="Start" value="{{actiDb.from}}" />
    </label>

    <label> To
      <input type="datetime-local" name="to" placeholder="End" value="{{actiDb.to}}" />
    </label>

    <label for="locations"> Where
      <select name="locations" id="locations">
      <option label="Ciutat Vella" value="Ciutat Vella">Ciutat Vella    </option>
      <option label="Nou Barris"  value="Nou Barris">Nou Barris   </option>
      <option label="Horta-Guinardo"  value="Horta-Guinardo">Horta-Guinardo   </option>
      <option label="Sarria-Sant Gervasi"  value="Sarria-Sant Gervasi">Sarria-Sant Gervasi    </option>
      <option label="Les Corts"  value="Les Corts">Les Corts    </option>
      <option label="Gracia"  value="Gracia">Gracia   </option>
      <option label="Sants"  value="Sants">Sants    </option>
      <option label="Eixample"  value="Eixample">Eixample   </option>
      <option label="Sant Marti"  value="Sant Marti">La Nueva Izquierda del Ensanche    </option>
      <option label="Sant Andreu"  value="Sant Andreu">San Antonio</option>
      </select>
    </label>

  <button>Save changes</button>
</form>